
//
article {

    //
    @include flex($direction: column, $gap: 2rem);

    //
    main {

        //
        @include flex($direction: column, $gap: 1.5rem);

        //style the headings
        h2 { @include font($size: 1.2em, $weight: 600); }
        h3 { @include font($size: 1.0em, $weight: 600); }
        h4 { @include font($size: 0.8em, $weight: 600); }

        //add some drop cap styling to the very first letter
        > p:first-of-type::first-letter { //goes funny on mobile

            //
            @include font($size: calc(var(--font-size-large) * 4), $colour: var(--colour-accent));
    
            //
            float: left;
            margin-right: 1rem;
            margin-top: 1rem;

        }

        //make the first sentence bold, would use ::first-line but this would not ensure the entire sentence is selected
        > p:first-of-type > span {
            font-weight: 600;
        }

        //add generic styling to links in the article
        a {

            //
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-decoration-style: dotted;

            //
            color: var(--colour-accent);
            &:hover {
                color: var(--colour-accent-alt);
            }

        }

        //style the "inline" code tags
        code:not([class*="language-"]) {
            font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
            color: var(--colour-foreground-alt);
            font-size: 0.8em;
        }

    }

    //
    .post-tags a {

        //
        @include font($size: 0.8em, $colour: var(--colour-background-alt));
        &:hover {
            color: var(--colour-foreground-alt);
        }

        //
        span {
            color: var(--colour-foreground-alt);
        }

    }

}
