
//
.site-header {

    //
    @include flex($direction: row, $align: center, $justify: flex-end);
    border-bottom: 2px solid var(--colour-foreground-alt);

    //
    margin-bottom: 1em;

    //
    p { 
        flex: 0 1 100%;
    }

    //
    nav {

        //
        @include flex($direction: row, $align: center, $gap: 1em);
        padding: 0em 0.5em;

        //
        a {

            //
            position: relative;

            //
            @include font($size: var(--font-size-small), $colour: var(--colour-body-text));

            //
            @include before($bottom: 12px, $right: 0) {

                //
                width: 0;
                height: 2px;

                //
                background-color: var(--colour-accent-alt);
                transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);

            }

            //
            &:hover {

                //
                @include font($colour: var(--colour-foreground-alt));

                //
                &::before{
                    left: 0;
                    right: auto;
                    width: 100%;
                }
            }

        }

    }

}
