
//add generic styling to a tags
a {
    cursor: pointer;
	color: var(--colour-accent);
	text-decoration: none;
	&:hover { color: var(--colour-accent-alt); }
}

//add a nice animated underline affect on hover - based on https://codepen.io/gabrielcojea/pen/ExPaBzQ
a:not(.alt) {

    //
    position: relative;

    //this affect breaks when a link crosses multiple lines - so force nowrap for now
    white-space: nowrap;

    //
    @include before($bottom: 12px, $right: 0) {

        //
        width: 0;
        height: 2px;

        //
        background-color: var(--colour-accent-alt);
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);

    }

    //
    &:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }

}