<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} &bull; eldarni.me</title>
    <link rel="canonical" href="https://www.eldarni.me{{ page.url }}">

    <link href="/css/main.css" rel="stylesheet" type="text/css">

</head>
<body>

    <a href="#main">skip to content</a>

    <div class="site-wrapper">

        <header class="site-header">
            <p>eldarni.me</p>
            <nav>
                <a href="/" title="Home">Home</a>
                <a href="/archive/" title="Archive">Archive</a>
                <a href="/about/" title="About">About</a>
            </nav>
        </header>

        <main id="main" class="site-content">
            <h1>{{ title }}</h1>
            {{ content|safe }}
        </main>

    </div>

    <footer class="site-footer">
        <p>&copy;{{ currentTime|year }} &bull; Richard Smith &bull; Please remember when reading, past me was an idiot.</p>
        <nav>
            <a href="/" title="Home">Home</a>
            <a href="/archive/" title="Archive">Archive</a>
            <a href="/about/" title="About">About</a>
        </nav>
    </footer>

</body>
</html>