---
layout: layout
---
<article>
    <main>
        {{ content|safe }}
    </main>
    <footer>
        <div class="post-tags">
            {% for tag in tags|filterTags %}
                <a class="alt" href="/tags/{{ tag }}/"><span>#</span>{{ tag }}</a>
            {% endfor %}
        </div>
        <p class="post-info"><time datetime="{{ date|timestamp }}">Posted on the {{ date|date }} at {{ date|time }}</time> | <a href="https://www.eldarni.me{{ page.url }}" title="permalink">https://www.eldarni.me{{ page.url }}</a></p>
    </footer>
</article>