---
layout: layout
---
<article>
    <main>
        {{ content|safe }}
    </main>
    <footer>
        <div class="post-tags">
            {% for tag in tags|filterTags %}
                <a class="alt" href="/tags/{{ tag }}/"><span>#</span>{{ tag }}</a>
            {% endfor %}
        </div>
    </footer>
</article>