
//
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    @if $top    != null { top:    $top;    }
    @if $right  != null { right:  $right;  }
    @if $bottom != null { bottom: $bottom; }
    @if $left   != null { left:   $left;   }
}

@mixin relative($top: null, $right: null, $bottom: null, $left: null) {
    @include position(relative, $top, $right, $bottom, $left);
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
    @include position(absolute, $top, $right, $bottom, $left);
}

@mixin fixed($top: null, $right: null, $bottom: null, $left: null) {
    @include position(fixed, $top, $right, $bottom, $left);
}

@mixin sticky($top: null, $right: null, $bottom: null, $left: null) {
    @include position(sticky, $top, $right, $bottom, $left);
}