---
title: Hello World
subtitle: Lorem ipsum dolor sit, amet consectetur adipisicing elit
date: 2021-10-17 12:10:00
---
<p><span>This is how we start learning a new thing is it not?</span> "Hello World" and "Lorem Ipsum" seems to be almost omnipresent when it comes to starting a new project or site - or learning a new programming language or framework.</p>
<p>Anyway - this is my first post on this blog, and presumably - if your reading this - not the last.</p>